<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label="32801" id="General">
	  <setting label="32806" type="lsep" />
	  <setting label="32807" type="bool" id="Movies" default="false" />
	  <setting label="32808" type="bool" id="IncludeMoviesVotes" enable="eq(-1,true)" default="false" />
	  <setting label="32805" type="bool" id="IncludeMoviesTop250" enable="eq(-2,true)" default="false" />
	  <setting label="32809" type="lsep" />
	  <setting label="32810" type="bool" id="TVShows" default="false" />
	  <setting label="32808" type="bool" id="IncludeTVShowsVotes" enable="eq(-1,true)" default="false" />
	  <setting label="32818" type="bool" id="IncludeEpisodes" enable="eq(-2,true)" default="false" />
	  <setting label="32819" type="bool" id="ObtainIMDbID" enable="eq(-3,true)" default="false" />
	  <setting label="32820" type="text" id="TheTVDBAPI" enable="eq(-1,true)" default="None" />
	 </category>
     <category label="32821" id="Scheduling">
	  <setting label="32812" type="lsep" />
	  <setting label="32822" type="bool" id="ScheduleEnabled" default="false" />
	  <setting label="32813" type="enum" id="WeekDay" lvalues="32828|32829|32830|32831|32832|32833|32834" enable="eq(-1,true)" default="0" />
	  <setting label="32814" type="time" id="DayTime" enable="eq(-2,true)" default="12:00:00" />
	  <setting label="" type="date" id="ScheduledWeekDay" default="2000-01-01" visible="false" />
	  <setting label="" type="bool" id="PerformingUpdate" default="false" visible="false"/>
     </category>
	 <category label="32815" id="Background">
	  <setting label="32823" type="lsep" />
	  <setting label="32816" type="bool" id="ShowNotifications" default="true" />
	  <setting label="32817" type="bool" id="ShowProgress" default="true" />
     </category>
</settings>
